<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<!-- <input type="text" id="ipt"> -->

<label>籍贯</label>

	<input type="text" v-model="student_info.province" class="diff2 provincea">
<button id="btn">确定</button>
<!-- <label>省</label>
<input type="text" v-model="student_info.city" class="city citya">
<label>市</label>
<label>住址:</label>
<input type="text" v-model="student_info.address" class="diff addressa"> -->

<body>

	<script>

	// var provincea = document.querySelector(".provincea");
	// btn.onclick = function () {
	// 	var str4 = provincea.value;
	// 	console.log(provincea.value);
	// 	if ( !/[\u4e00-\u9fa5]/gm.test(str4) ) {
	// 		console.log("对不起，您输入的籍贯格式不正确!\r请重新输入");
	// 		return false;
	// 	} else {
	// 		console.log("成功录入")
	// 	}
	// }
		// 创建正则的方法:
		// var reg = new RegExp(); 

		// // 字面量的语法:
		// var reg = //;
		// var arr = [];
		// var str = '';

		// 正则中的方法
		// test() :用来匹配/验证字符串是否正确,如果正确返回true ,否则返回false
		// exec() :用来匹配/验证字符串是否正确,如果正确返回exec()找到了匹配的文本, 则返回一个结果数组. 否则返回null
		// var str = 'hello dongshijiaoyu';
		// var reg = /jiaoyu/;
		// var bol = reg.test(str); //查看字符串里面是否有jiaoyu
		// var arr = reg.exec(str);
		// console.log(bol);
		// console.log(arr);
		// btn.onclick = function(){
		// 	console.log(1);
		// 	fn()
		// }
		// function fn() {
		// 	var str = ipt.value;
		// 	reg = /^([\u4e00-\u9fa5]){2,7}$/;       //只能是中文，长度为2-7位
		// 	if (!reg.test(str)) {
		// 		alert("对不起，您输入的字符串类型格式不正确!");//请将“字符串类型”要换成你要验证的那个属性名称！       
		// 		return false;
		// 	}
		// }
	</script>
</body>

</html>